@import'../../partials/_typography';
@import'../../partials/_variables';
@import'../../partials/_mixins';

.comment {
  padding: 5% 0;
  display: flex;
  @include border;
  border-right: none;
  border-left: none;

  &__pic {
    margin-right: 16px;
    height: 45px;
    width: 45px;
    background-color: #cecece;
    border-radius: 50%;
  }

  &__info {
    width: 85%;
    
    &__firtsLine {
      display: flex;
      justify-content: space-between;
      
      &__name {
        margin: 0;
        font-family: "demi";
        @include subheader-mobile;
      }
      
      &__date {
        margin: 0;
        font-family: "regular";
        @include labels-mobile;
      }
    }
    
    &__text {
      margin: 1% 0;
      @include paragraph-mobile;
      font-family: "regular";
    }
  }
}