@import'_variables';

@font-face{
    font-family: "bold";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("openType");
    font-weight:700;
}
@font-face{
    font-family: "demi";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf") format("openType");
    font-weight: 600;
}
@font-face{
    font-family: "regular";
    src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("openType");
    font-weight: 400;
}

// Fonts for mobile

@mixin paragraph {
    font-size: 13px;
    line-height: 18px;
};

@mixin lists-contactInformation-mobile {
    font-size: 13px;
    line-height: 18px;
};

$talet-width: 768px;

@mixin mobile-fonts {
    @media (min-width: 320px) and (max-width: #{$tablet-width - 1px}) {
        @content;
        h1 {
            font-size: 24px;
            line-height: 32px;
        };
        h2 {
            font-size: 14px;
            line-height: 22px;
        };
        h5, label {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

// Fonts for desktop

@mixin hero-header {
    font-size: 60px;
    line-height: 68px;
};

@mixin header {
    font-size: 24px;
    line-height: 32px;
};

@mixin paragraph-comments {
    font-size: 14px;
    line-height: 22px;
};

@mixin lists-contactInformation-mobile {
    font-size: 14px;
    line-height: 20px;
};

@mixin tablet-fonts {
    @media (min-width: #{$tablet-width - 1px}) {
        @content;
        h2 {
            font-size: 24px;
            line-height: 32px;
        };
        h3 {
            font-size: 16px;
            line-height: 24px;
        };
        h5, label {
            font-size: 12px;
            line-height: 20px;
        }
    }
}