@import'../../partials/_typography';
@import'../../partials/_mixins';

.video {

  &__name {
    margin-bottom: 0;
    font-family: "bold";
  }

  &__contents {
    border-bottom: 1px solid $Text-border;
  }

  &__info {
    display: flex;
    align-items: baseline;

    &__autor {
      font-family: "demi";
      margin: 16px 8px 32px 0;
    }
  
    &__date {
      font-family: "regular";
      color: $Text-label;
    }
  }

  &__socialInfo {
    padding-bottom: 24px;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    margin-right: 8px;
  }

  &__views {
    @include paragraph-comments;
    font-family: "regular";
    display: flex;
  }
  
  &__likes {
    @include paragraph-comments;
    font-family: "regular";
    display: flex;
  }

  &__text {
    margin: 24px 0 40px 0;
    font-family: "regular";
    @include paragraph;
  }
}