@import'../../partials/_typography';
@import'../../partials/_variables';
@import'../../partials/_mixins';

.CommentForm {
    margin-top: 32px;
    
    &__container {
        display: flex;
        
        &__pic {
            height: 45px;
            width: 50px;
            border-radius: 50%;
        }

        &__box {
            padding-left: 16px;
            
            &__label {
                font-family: "demi";
                color: $Text-label;
            }
            
            &--input {
                padding: 3%;
                //width: 436px;
                background-color: $Text-background;
                border: 1px solid $Text-border;
                box-sizing: border-box;
    
                &::placeholder {
                    font-family: "regular";
                    color: $Paragraph-text;
                }
    
                &:active {
                    border-color: $Primary-Textlink;
                }
            }
        }
    }

    &__button {
        @include buttonStyle;
    }
}