@import'../../partials/_typography';
@import'../../partials/_variables';
@import'../../partials/_mixins';

.CommentForm {
    margin-top: 32px;
    
    &__container {
        display: flex;
        
        &__pic {
            margin-top: 7%;
            height: 45px;
            width: 48px;
            border-radius: 50%;
        }

        &__box {
            padding-left: 16px;
            
            &__label {
                margin: 0 0 2% 0;
                @include labels-mobile;
                font-family: "demi";
            }
            
            &__input {
                padding: 3%;
                width: 100%;
                @include paragraph-mobile;
                font-family: "regular";
                background-color: $Text-background;
                border: 2px solid $Text-border;
                box-sizing: border-box;
                border-radius: 3px;
    
                &::placeholder {
                    font-family: "regular";
                    color: $Paragraph-text;
                    @include paragraph-mobile;
                }
    
                &:active {
                    border-color: $Primary-Textlink;
                }
            }
        }
    }

    &__button {
        margin: 16px 0 24px 22%;
        width: 78%;
        height: 45px;
        @include buttonStyle;
    }
}